<ion-app>

  // App Menu
  <ion-menu side="end" menuId="userMenu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>{{myCapitalize(user?.name)}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/home">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="home-outline" aria-label="Home"/>              
            </ion-button>
            <ion-text>Tasks</ion-text>            
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/endtasks">
            <ion-button fill="clear">
                <ion-icon slot="icon-only" name="checkmark-done-outline" aria-label="end-tasks"/>              
            </ion-button>
            <ion-text>Tasks finalizadas</ion-text>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="changeProfilePhoto()">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="camera-outline" aria-label="profile-photo" />              
            </ion-button>            
            <ion-text>Cambiar Foto Perfil</ion-text>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item class="logout-btn" (click)="logout()" >
            <ion-button fill="clear" >
              <ion-icon slot="icon-only" name="close-circle-outline" aria-label="Cerrar Sesión"/>              
            </ion-button>            
            <ion-text>Cerrar Sesión</ion-text>           
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>



  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
