<!-- Spinner Loading to user feedback -->
<ion-content *ngIf="loading" class="ion-text-center ion-align-items-center">
  <ion-spinner name="crescent"></ion-spinner>
</ion-content>

<!-- General container from Angular -->
<ng-container *ngIf="!loading" >
<ion-header [translucent]="true">
  <ion-toolbar>  
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-between">
        <ion-col>
          <ion-title class="title-app">TaskMine</ion-title>
        </ion-col>
        <ion-col size="auto">
          <ion-menu-toggle auto-hide="false" menu="userMenu">
            <ion-avatar class="custom-avatar">
              <ion-icon name="person-circle-outline"></ion-icon>
            </ion-avatar>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" *ngIf="!loading">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TaskMine</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- ** Card Task Component ** -->
  <app-task-card 
  [tasksList]="tasksList"
  (doTask)="doTask($event)"
  (updateTask)="updateTask($event)"
  (deleteTask)="deleteTask($event)"/>

  <!-- ** Options Float Button ** -->  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">    
      <ion-fab-button color="tertiary">
        <ion-icon name="add" (click)="newTask()"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
</ng-container>
