<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Card Form Register  -->
  <ion-card>
    <ion-card-header>
    <ion-card-title>Create your account!</ion-card-title>
    </ion-card-header> 

    <ion-card-content>
      <form [formGroup]="userForm" (ngSubmit)="registerUser()">
        <!--
        Profile photo method
        <ion-item (click)="profilePhoto()">
          <ion-img class="photo-frame" *ngIf="capturePhoto" [src]="capturePhoto" (click)="profilePhoto()"/>
          <ion-img class="photo-frame" *ngIf="!capturePhoto" src="../../assets/No-Image-Placeholder.svg" (click)="profilePhoto()"/>
        </ion-item>
        -->                 
        <ion-item>
          <ion-input  formControlName="name" type="text" placeholder="Name" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input  formControlName="username" type="text" placeholder="User Name" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input  formControlName="email" type="email" placeholder="your@email.com" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input  formControlName="password" type="password" placeholder="Password" required minlength="6"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="confirm" type="password" placeholder="Password again" required></ion-input>
        </ion-item>        
        <ion-button  color="tertiary"  size="large" type="submit" [disabled]="userForm.invalid" expand="block">Register</ion-button>    
      </form>
    </ion-card-content>           
  </ion-card>
</ion-content>
